@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: #f4dcbc61;
}
.img {
    width: 200px;
    margin: 20px auto;
    display: block;
}
.heading {
    text-align: center;
    border: 1px solid rgba(0, 0, 255, 0.448);
    background: rgba(0, 0, 255, 0.448);
    border-radius: 10px;
}
.list {
    border: 1px solid rgba(255, 0, 0, 0.448);
    background: rgba(255, 0, 0, 0.448);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.navbar ul,li,a {
    list-style-type: none;
    display: flex;
    
    
    text-decoration: none;
    background: blue;
    color: #f4f4f4;
}
.navbar ul {
    height: 40px;
    margin-top: 0;
}
.navbar a {
    margin-left: 10px;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}